<launch>
  <group ns="mimamorukun">
  <!--矩形切り捨て-->
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot1_scan_crop" output="screen">
    <remap from="scan_in" to="/portable1/scan" />
    <remap from="scan_out" to="pot1_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot2_scan_crop" output="screen">
    <remap from="scan_in" to="/portable2/scan" />
    <remap from="scan_out" to="pot2_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot3_scan_crop" output="screen">
    <remap from="scan_in" to="/portable3/scan" />
    <remap from="scan_out" to="pot3_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot4_scan_crop" output="screen">
    <remap from="scan_in" to="/portable4/scan" />
    <remap from="scan_out" to="pot4_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot5_scan_crop" output="screen">
    <remap from="scan_in" to="/portable5/scan" />
    <remap from="scan_out" to="pot5_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot6_scan_crop" output="screen">
    <remap from="scan_in" to="/portable6/scan" />
    <remap from="scan_out" to="pot6_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot7_scan_crop" output="screen">
    <remap from="scan_in" to="/portable7/scan" />
    <remap from="scan_out" to="pot7_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot8_scan_crop" output="screen">
    <remap from="scan_in" to="/portable8/scan" />
    <remap from="scan_out" to="pot8_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot9_scan_crop" output="screen">
    <remap from="scan_in" to="/portable9/scan" />
    <remap from="scan_out" to="pot9_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  <node pkg="raucha_utils" type="laser_crop_rect" name="pot10_scan_crop" output="screen">
    <remap from="scan_in" to="/portable10/scan" />
    <remap from="scan_out" to="pot10_scan_croped" />
    <param name="xmin" value="-0.50" />
    <param name="xmax" value="1.5" />
    <param name="ymin" value="-0.8" />
    <param name="ymax" value="0.8" />
    <param name="frame_id" value="base_footprint" />
  </node>
  </group>
</launch>
