<!-- -->
<launch>
  <node pkg="topic_tools" type="throttle" args="messages velodyne_points 0.5" name="velo_throttle"/>
  <!--<node pkg="topic_tools" type="throttle" args="messages velodyne_points 0.5" name="velo_throttle"/>-->

  <!--<node pkg="chairbot_selfdrive" type="velodyne_matcher" name="velodyne_matcher">-->
    <!--<remap from="points_raw" to="velodyne_points_throttle" />-->
    <!--<remap from="points_map" to="cloud_pcd" />-->
    <!--<remap from="initialpose" to="pf_filtered" />-->
    <!--<remap from="trans" to="trans_useless" />-->
  <!--</node>-->
  <!--<node pkg="chairbot_selfdrive" type="ndt_voxel_matcher" name="ndt_voxel_matcher" output="screen">-->
  <node pkg="chairbot_selfdrive" type="velodyne_matcher" name="velodyne_matcher">
    <remap from="points_raw" to="velodyne_points_throttle" />
    <remap from="points_map" to="cloud_pcd" />
    <remap from="initialpose" to="pf_filtered" />
  </node>
</launch>
